[Desktop Entry]
Type=Application
Version=1.0.5
Name=Visualize Chess
Comment=Chess move visualization training
Exec=visualize_chess
Icon=icon
Terminal=false
Categories=Games;